$primary: #409eff;
$success: #67c23a;
$info: #909399;
$warning: #e6a23c;
$danger: #f56c6c;

$plain-primary: #ecf5ff;
$plain-success: #ecf5ff;
$plain-info: #ecf5ff;
$plain-warning: #ecf5ff;
$plain-danger: #ecf5ff;
