$primary: #409eff;
$success: #67c23a;
$info: #909399;
$warning: #e6a23c;
$danger: #f56c6c;

$pl-primary: #ecf5ff;
$pl-success: #f0f9eb;
$pl-info: #ecf5ff;
$pl-warning: #ecf5ff;
$pl-danger: #ecf5ff;

$pl-bd-primary: #b3d8ff;
$pl-bd-success: #c2e7b0;
$pl-bd-info: #d3d4d6;
$pl-bd-warning: #f5dab1;
$pl-bd-danger: #fbc4c4;

$white: #ffffff;
$bd-default: #dcdfe6;

